In [321]:
from selenium import webdriver
import pandas as pd
import time
from tqdm import tqdm

## KBO Statiz 사이트 접속

In [395]:
driver=webdriver.Chrome('/Users/gunwook/Desktop/chromedriver')

In [341]:
driver.get('http://www.statiz.co.kr/stat.php')

## 타자 크롤링

In [396]:
driver.get('http://www.statiz.co.kr/stat.php?mid=stat&re=0&ys=2014&ye=2019&se=0&te=&tm=&ty=0&qu=auto&po=0&as=&ae=&hi=&un=&pl=&da=1&o1=WAR_ALL_ADJ&o2=TPA&de=1&lr=0&tr=&cv=&ml=1&sn=200&pa={0}&si=&cn='.format(200))

In [379]:
number = driver.find_elements_by_css_selector('#fixcol > table > tbody > tr > td:nth-child(1)')

In [381]:
a[199].text

''

In [392]:
# 선수 정보 뽑기
# PA는 타석
# AB는 타수
list1 = []
for i in tqdm(range(0,2113, 200)):
    driver.get('http://www.statiz.co.kr/stat.php?mid=stat&re=0&ys=2014&ye=2019&se=0&te=&tm=&ty=0&qu=auto&po=0&as=&ae=&hi=&un=&pl=&da=1&o1=WAR_ALL_ADJ&o2=TPA&de=1&lr=0&tr=&cv=&ml=1&sn=200&pa={0}&si=&cn='.format(i))
    time.sleep(2)
    number = driver.find_elements_by_css_selector('#fixcol > table > tbody > tr > td:nth-child(1)')
    name = driver.find_elements_by_css_selector('#fixcol > table > tbody > tr > td > a')
    year = driver.find_elements_by_css_selector('#fixcol > table > tbody > tr > td > span > span:nth-child(1)')
    team = driver.find_elements_by_css_selector('#fixcol > table > tbody > tr > td > span > span:nth-child(2)')
    war = driver.find_elements_by_css_selector('#fixcol > table > tbody > tr > td:nth-child(4)')
    count_game = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(5)')
    득점 = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(8)')
    안타 = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(9)')
    홈런 = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(12)')
    루타 = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(13)')
    타점 = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(14)')
    타율 = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(24)')
    출루 = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(25)')
    장타 = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(26)')
    OPS = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(27)')
    wOBA = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(28)')
    wRC = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(29)')
    wpa = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(31)')
    for a,b,c,d,e,f,g,h,i,j,k,l,n,m,o,p,q,z in zip(name,year,team,war,
                                                    count_game,득점,안타,홈런,루타,타점,
                                                    타율,출루,장타,OPS,wOBA,wRC,wpa,number):
        if z.text == '':
            continue
        else:
            if k.text == '':
                k = 0
            else:
                k = k.text
            if l.text == '':
                l = 0
            else:
                l = l.text
            if n.text == '':
                n = 0
            else:
                n = n.text
            if m.text == '':
                m = 0
            else:
                m = m.text
            if o.text == '':
                o = 0
            else:
                o = o.text
            if p.text == '':
                p = 0
            else:
                p = p.text
            if q.text == '':
                q = 0
            else:
                q = q.text
            list1.append([a.text,b.text,c.text,float(d.text),float(e.text),float(f.text),float(g.text),
                float(h.text),float(i.text),float(j.text),float(k),float(l),
                float(n),float(m),float(o),float(p),float(q)])

  0%|          | 0/15 [00:00<?, ?it/s]





  7%|▋         | 1/15 [01:31<21:17, 91.27s/it]





 13%|█▎        | 2/15 [03:03<19:51, 91.69s/it]





 20%|██        | 3/15 [04:36<18:25, 92.09s/it]





 27%|██▋       | 4/15 [06:09<16:55, 92.31s/it]





 33%|███▎      | 5/15 [07:18<14:13, 85.32s/it]





 40%|████      | 6/15 [07:26<09:19, 62.12s/it]





 47%|████▋     | 7/15 [07:43<06:27, 48.48s/it]





 53%|█████▎    | 8/15 [09:14<07:09, 61.29s/it]





 60%|██████    | 9/15 [10:54<07:16, 72.81s/it]





 67%|██████▋   | 10/15 [12:25<06:31, 78.33s/it]





 73%|███████▎  | 11/15 [13:18<04:43, 70.83s/it]





 80%|████████  | 12/15 [13:21<02:31, 50.42s/it]





 87%|████████▋ | 13/15 [13:25<01:12, 36.33s/it]





 93%|█████████▎| 14/15 [13:27<00:26, 26.13s/it]





100%|██████████| 15/15 [13:30<00:00, 54.03s/it]

In [393]:
df = pd.DataFrame(list1)

In [394]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,테임즈,15,N,10.71,142.0,130.0,180.0,47.0,373.0,140.0,0.381,0.498,0.790,1.288,0.530,222.3,7.02
1,강정호,14,넥,8.05,117.0,103.0,149.0,40.0,309.0,117.0,0.356,0.459,0.739,1.198,0.500,185.6,7.25
2,박병호,15,넥,7.76,140.0,129.0,181.0,53.0,377.0,146.0,0.343,0.436,0.714,1.150,0.481,181.9,7.82
3,최형우,16,삼,7.75,138.0,99.0,195.0,31.0,338.0,144.0,0.376,0.464,0.651,1.116,0.480,177.8,5.50
4,서건창,14,넥,7.63,128.0,135.0,201.0,7.0,297.0,67.0,0.370,0.438,0.547,0.985,0.437,150.9,5.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1667,정범모,15,한,-1.25,51.0,3.0,13.0,0.0,15.0,10.0,0.135,0.215,0.156,0.371,0.177,-16.3,-1.10
1668,조인성,16,한,-1.36,76.0,10.0,23.0,3.0,34.0,7.0,0.168,0.186,0.248,0.434,0.188,-12.4,-1.88
1669,강한울,15,K,-1.39,90.0,30.0,54.0,0.0,68.0,12.0,0.205,0.250,0.258,0.508,0.229,18.5,-1.36
1670,나종덕,19,롯,-1.41,104.0,12.0,23.0,3.0,36.0,13.0,0.124,0.188,0.195,0.383,0.180,-4.2,-2.74
1671,나종덕,18,롯,-1.71,106.0,15.0,22.0,2.0,31.0,11.0,0.124,0.201,0.175,0.376,0.175,-15.1,-1.85

## 투수 크롤링

In [397]:
# 선수 정보 뽑기

list2 = []
for i in tqdm(range(0,1461, 200)):
    driver.get('http://www.statiz.co.kr/stat.php?mid=stat&re=1&ys=2014&ye=2019&se=0&te=&tm=&ty=0&qu=auto&po=0&as=&ae=&hi=&un=&pl=&da=1&o1=WAR&o2=OutCount&de=1&lr=0&tr=&cv=&ml=1&sn=200&pa={0}&si=&cn='.format(i))
    time.sleep(2)
    
    number = driver.find_elements_by_css_selector('#fixcol > table > tbody > tr > td:nth-child(1)')
    name = driver.find_elements_by_css_selector('#fixcol > table > tbody > tr > td > a')
    year = driver.find_elements_by_css_selector('#fixcol > table > tbody > tr > td > span > span:nth-child(1)')
    team = driver.find_elements_by_css_selector('#fixcol > table > tbody > tr > td > span > span:nth-child(2)')
    war = driver.find_elements_by_css_selector('#fixcol > table > tbody > tr > td:nth-child(4)')
    count_game = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(5)')
    완봉 = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(6)')
    완투 = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(7)')
    선발 = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(8)')
    승 = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(9) ')
    패 = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(10)')
    세이브 = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(11)')
    홀드 = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(12)')
    inning = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(13)')
    실점 = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(14)')
    ERA = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(27)')
    FIP = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(28)')
    WHIP= driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(29)')
    ERA_plus = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(30)')
    FIP_plus = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(31)')
    wpa = driver.find_elements_by_css_selector('#mytable > tbody > tr > td:nth-child(33)')
    for a,b,c,d,e,f,g,h,i,j,k,l,n,m,o,p,q,r,s,z,x in zip(name,year,team,war,
                                                       count_game,완봉,완투,선발,승,패,세이브,홀드,
                                                       inning,실점,ERA,FIP,WHIP,ERA_plus,FIP_plus,wpa,number):
        if x.text == '':
            continue
        else:
            if s.text == '':
                s = 0
            if r.text == '':
                r = 0
            if q.text == '':
                q = 0
            if p.text == '':
                p = 0
            if o.text == '':
                o = 0
            list2.append([a.text,b.text,c.text,float(d.text),float(e.text),float(f.text),float(g.text),
                     float(h.text),float(i.text),float(j.text),float(k.text),float(l.text),
                     float(n.text),float(m.text),float(o),float(p),float(q),float(r),float(s),float(z.text)])

  0%|          | 0/8 [00:00<?, ?it/s]





 12%|█▎        | 1/8 [01:43<12:03, 103.29s/it]





 25%|██▌       | 2/8 [03:47<10:57, 109.62s/it]





 38%|███▊      | 3/8 [05:42<09:15, 111.03s/it]

AttributeError: 'int' object has no attribute 'text'

선수가 2000명 밖에 없다... 이거 훈련 시켜도 잘 나올까... 투수는 1000명정도만 있고... 허허